# python
backend/venv
backend/__pycache__/
backend/*.pyc

# storage
backend/app/storage/uploads/*
backend/app/storage/faiss_index/*
backend/app.db

# node
frontend/node_modules

# expo
frontend/.expo
frontend/.expo-shared

# misc
.env
.DS_Store